* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;  
}
body{
    background-color:#ffeeba;
    overflow: hidden;
}
/* footer */
footer{
    width: 100%;
    background-color: #fff;
    height: 80px;
    position: absolute;
    bottom: 0;
}
footer a{
    text-decoration-line: none;
    color: #333;
}
footer ul{
    display: flex;
    justify-content:space-around;
    line-height: 80px;
}