* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;  
}
body{
    background-color:#ffeeba;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}
/* footer */
footer{
    width: 100%;
    background-color: #fff;
    height: 80px;
    position: absolute;
    bottom: 0;
}
footer a{
    text-decoration-line: none;
    color: #333;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 10px;
}
footer ul{
    display: flex;
    justify-content:space-around;
    line-height: 100px;
}
footer img{ 
    width: 60px;
    height: 60px;
    cursor: pointer;
}